
<!DOCTYPE html>
<html lang="zxx">
  
   <body>

      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
 

      <!--show Now-->  
      <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Compra aquí nuestros productos</h3>
            <div class="row">
               <div class="side-bar col-lg-3">
                  <div class="search-hotel">
                     <h3 class="agileits-sear-head">Busca aqui tu producto</h3>
                     <form action="#" method="post">
                        <input type="search" placeholder="Product name..." name="search" required="">
                        <input type="submit" value=" ">
                     </form>
                  </div>
							<!-- price range -->
							<div class="range">
								<h3 class="agileits-sear-head">Rango de precio</h3>
								<select>
                             <option>0$-50$</option> 
                             <option>50$-100$</option> 
                             <option>Más de 100$</option> 


                        </select>
							</div>
							<!-- //price range -->


                  <!--Filtros, por grupo -->
                  <div class="left-side">
                     <h3 class="agileits-sear-head">Grupo</h3>
                     <ul id ="filtros" >
                
                     </ul>
                  </div>
                 <!--Filtros, por grupo -->


                  <!--Filtros, por estilo musical -->

                  <div class="left-side">
                     <h3 class="agileits-sear-head">Estilo musical</h3>
                     <ul id="filtros_estilo">
                        
                     </ul>
                  </div>


                       <!--Filtros, por categoria -->
                  <div class="left-side">
                     <h3 class="agileits-sear-head">Categoria</h3>
                     <ul id="filtros_categoria">
               
                     
               
                     </ul>
                  </div>
                  <!-- reviews -->

               </div>
             

               <!-- Productos Shop -->
               <div class="left-ads-display col-lg-9">
                  <div class="row">

                     <div id="container_shop">

                           <center>



                           </center>

                     </div>

                 </div>
               </div>

               
               
            </div>

          
         </div>
      </section>



   </body>
</html>
